html, body, #map {
    width: 100%;
    height: 100%;
    font-size: 0.77em;
    margin: 0;
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
}
#panel {
    color: #333333;
    display: none;
    height: 100%;
    left: 0.1em;
    opacity: 1.0;
    position: absolute;
    top: 0;
    width: 310px;
    z-index: 1020;
}
#panel_content {
}
#panel_switch {
    left: 0px;
    line-height: 0.5;
    opacity: 0.8;
    position: absolute;
    top: 5px;
    z-index: 1020;
}
.olControlPanZoom{
    left : '',
    right : 67px,
    top : 10px,
    opacity : .7,
    filter : alpha(opacity=70),
    -moz-opacity/tabs : 0.7
}
#tab-container {
    height: 90%;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    position: relative;
    background: white !important;
}
#tabs {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: white !important;
}
.olControlPanZoomBar {
    top: 40px !important;
    left: auto !important;
    right: 67px !important;
}
#panel_switch .ui-icon, #overview_switch .ui-icon {
    margin: 10px;
}
#overview {
    background-color: #A5003B !important;
    display: none;
    bottom: 0px;
    right: 0px;
    opacity: 1.0;
    position: absolute;
    z-index: 1020;
}
#overview_switch {
    bottom: 170px;
    display: none;
    line-height: 0.5;
    opacity: 0.8;
    position: absolute;
    right: 246px;
    z-index: 1020;
}
.overview-map {
    margin: 4px;
    opacity: 1 !important;
}
.olControlOverviewMapElement {
    background-color: #43A2CA !important;
    margin: 4px;
    padding: 0 !important;
    z-index: 1011;
}

* {
    font-family:'ddb', Sans-Serif, sans;
    font-size:12px;
}

a:link {
    text-decoration:none;
}
a {
    color: #3E3A37;
    text-decoration: none;
    word-wrap: break-word;
}
a:hover {
    color: #A5003B;
    cursor: pointer;
    text-decoration: underline;
}
#ddbpopup_contentDiv {
    color: #222222;
    padding: 5px;
}
#tablewrapper {
    overflow:auto !important;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

h1 {
   color: #A5003B;
   font-size:1.2em;
}

/* Popup start */

.olMap img {
  margin: 0px !important;
  padding:3px;
}

.olMap #institutionPopup_GroupDiv {
}

.olMap .olFramedDDBPopupContent {
  background-color: #FFFFFF;
}

.olMap .olPopupCloseBox {
  background: url("../img/ddb_PopupCancel.png") no-repeat scroll 0 0 !important;
  width: 20px !important;
  height: 20px !important;
  right: 35px !important;
  top: 17px !important;
}

.olMap .olPopupDDBContent {
  margin: 0px 4px 4px 4px;
}

.olMap .ddbPopupTitle {
  margin: 5px 5px 5px 5px;
  height: 20px;
  font-weight: bold;
}

.olMap .olPopupDDBBody {
  margin-top: 5px;
  padding-bottom: 5px;
}

.olMap .olPopupDDBArrow {
    background: url("../img/ddb-arrow.png") no-repeat scroll 0 -1px !important;
    padding-right: 5px;
}

.olMap .olPopupDDBScroll {
  max-height: 150px;
  width: 300px;

  overflow-x: hidden;
  overflow-y: auto;
  /*
overflow: scroll;
*/
  -webkit-overflow-scrolling: touch;
  /*
overflow-scrolling: touch;
overflow: scroll;
-webkit-overflow-scrolling: touch;
position: static;
*/
}

.olMap .olPopupDDBContent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.olMap .olPopupDDBContent ul li {
  background: url("../img/list_arrow_plum.png") no-repeat scroll 0 0 !important;
  padding-left: 17px;
}

.olMap .olPopupDDBContent li ul li {
  background: url("../img/list_arrow_grey.png") no-repeat scroll 0 0 !important;
  padding-left: 17px;
}


/* Popup end */
